 <div class="products -card">
    <img class="products -card-image" [src]="product.image" [alt]="product.name" />
    <h3 class="products -card-title">{{ product.name }}</h3>
    <p class="products -card-desc">{{ product.description }}</p>

    <div class="products -card-meta">
      <div class="products -card-price">
        {{ product.price | currency: 'USD' : 'symbol' : '1.2-2' }}
      </div>

      <!-- Если товара нет в корзине -->
      <button
        *ngIf="!cartItems[product.id]"
        type="button"
        class="products -card-button"
        (click)="addToCart(product)"
      >
        Add to cart
      </button>

      <!-- Если товар уже в корзине -->
      <div *ngIf="cartItems[product.id]" class="products -card-qty">
        <button type="button" class="products -card-qty-btn" (click)="decreaseQty(product)">
          -
        </button>
        <span class="products -card-qty-value">
          {{ cartItems[product.id] }}
        </span>
        <button type="button" class="products -card-qty-btn" (click)="increaseQty(product)">
          +
        </button>
      </div>
    </div>
  </div>